@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&display=swap');
body{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    background-color: #D4BEE4;
}
.title{
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;

    font-size: 60px;
    text-align: center;
    color: #3B1E54;
}
.desc{
    margin: 0 90px;
    text-align: center;
    color: #3B1E54;
    font-family: "Poppins";
    font-size: 20px;
    margin-top: -30px;
}
.teamCards{
    text-align: center;
}
.memberCard{
    background-color: #9B7EBD;
    width: max-content;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    display: inline-block;
    color: white;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0px 15px 20px rgba(155, 126, 189, .6);
    transition: transform .3s ease-in;
}
.memberCard:hover{
    background-color: rgba(155, 126, 189, .9);
    box-shadow: 0px 15px 20px rgba(155, 126, 189, .75);
    transition: ease-in-out;
    transform: translateY(-10px);
    transition: transform .3s ease-in;
}
.memberPic{
    width: 250px;
    height: 250px;
    border-radius: 30px;
    margin: 10px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}
.memberName{
    font-size: 25px;
    font-weight: bold;
}
.memberPosition{
    font-size: 20px;
    margin: 10px;
    font-style: italic;
    opacity: .8;
    margin-top: -5px;
}
.joinUs button{
    background-color: #3B1E54;
    border: none;
    border-radius: 40px;
    padding: 10px 40px;
    font-size: 17px;
    box-shadow: 0px 15px 20px rgba(59, 30, 84, 0.4);
    font-weight: bold;
    color: white;
    font-family: "Poppins";
    cursor: pointer;
}
.joinUs button:hover{
    box-shadow: 0px 15px 20px rgba(59, 30, 84, .5);
    background-color: rgba(59, 30, 84, .95);
}
.joinUs p{
    font-size: 20px;
    color:  #3B1E54;
    font-weight: bold;
}
.footer{
    height: 40px;
}
@media only screen and (max-width: 600px) {
    .title{
        font-size: 50px;
        margin: 20px;
    }
    .desc{
        font-size: 18px;
        margin: 15px 30px;
    }
    .memberCard{
        transform: scale(0.85);
        margin: -10px;
    }
    .memberCard:hover{
        transform: scale(0.9);
    }
    .joinUs p{
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
    }
}