@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&display=swap');
body{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    background-color: #D4BEE4;
}
.title{
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;

    font-size: 60px;
    text-align: center;
    color: #3B1E54;
}
.customPlan{
    text-align: center;
    margin-top: 20px;
}
.customPlan p{
    font-size: 20px;
    text-align: center;
    color: #3B1E54;
    margin-bottom: 10px;
    font-weight: 600;
}
.customPlan a{
    color: #3B1E54;
    font-weight: 600;
    display: block;
}
.customPlan button{
    background-color: #3B1E54;
    border: none;
    border-radius: 40px;
    padding: 10px 40px;
    font-size: 17px;
    box-shadow: 0px 15px 20px rgba(59, 30, 84, 0.4);
    font-weight: bold;
    color: white;
    font-family: "Poppins";
    cursor: pointer;
    display: block;
    margin: auto;
}
.customPlan button:hover{
    box-shadow: 0px 15px 20px rgba(59, 30, 84, .5);
    background-color: rgba(59, 30, 84, .95);
}
.pricing{
    text-align: center;
    margin-bottom: 50px;
}
.pricingCard{
    background-color: #9B7EBD;
    width: max-content;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    display: inline-block;
    color: white;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0px 15px 20px rgba(155, 126, 189, .6);
    transition: transform .3s ease-in;
}
#premium{
    border: #3B1E54 2px solid;
    box-shadow: 0px 15px 20px rgba(155, 126, 189, .75);
    transform: scale(1.1);
}
/* .pricingCard:hover{
    background-color: rgba(155, 126, 189, .9);
    box-shadow: 0px 15px 20px rgba(155, 126, 189, .75);
    transition: ease-in-out;
    transform: translateY(-10px);
    transition: transform .3s ease-in;
} */
.pricingTitle{
    font-size: 25px;
    font-weight: bold;
}
.price{
    font-size: 30px;
    font-weight: bold;
    color: #3B1E54;
    text-shadow: rgba(59, 30, 84, 0.379) 2px 2px 2px;
}
.feature{
    font-size: 20px;
    margin: 10px;
    /* font-style: italic; */
    opacity: .8;
    /* margin-top: -5px; */
    list-style: circle;
}
.pricingCard button{
    background-color: #3B1E54;
    border: none;
    border-radius: 40px;
    padding: 10px 40px;
    font-size: 17px;
    box-shadow: 0px 15px 20px rgba(59, 30, 84, 0.4);
    font-weight: bold;
    color: white;
    font-family: "Poppins";
    cursor: pointer;
    transition: transform .3s ease-in;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pricingCard button:hover{
    box-shadow: 0px 15px 20px rgba(59, 30, 84, .5);
    background-color: rgba(59, 30, 84, .95);
    transition: ease-in-out;
    transform: translateY(-5px);
    transition: transform .3s ease-in;
}